<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  
  <Section Name="MyConfigSection">
    <Parameter Name="ConnectionString" Value="Server=tcp:anujrsys.database.windows.net,1433;Initial Catalog=rsysdb;Persist Security Info=False;User ID=anujitpro;Password=Anuj@rsys;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </Section>
  
</Settings>
